<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295144557339-uf9c60vk6fpe8euni36tvfos35bclf41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295144557339-uf9c60vk6fpe8euni36tvfos35bclf41</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ7jRDiwuDQKmaSJLqi5agYLNm6sE6-as</string>
	<key>GCM_SENDER_ID</key>
	<string>295144557339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hajer.ExpensesprojectH</string>
	<key>PROJECT_ID</key>
	<string>expensesprojecthajer-98464</string>
	<key>STORAGE_BUCKET</key>
	<string>expensesprojecthajer-98464.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295144557339:ios:eca7d26ac4a2736238a1be</string>
</dict>
</plist>